.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;

	&__large {
		background: $color-blue url('../img/usa-map.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__logo {
		height: 4rem;
		display: block;
		margin: 0 auto 2rem;

		@media (min-width: 767px) {
			height: 5rem;
		}
	}

	.nav-link {
		text-transform: uppercase;
		color: #fff;
		&:hover {
			color: #007bff;
		}
	}
}


.btn-outline-info {
	border-color: $color-blue;
	color: $color-red;
	&:hover {
		border-color:  $color-blue;
		background-color: $color-blue;
		color: #fff;
	}
}

.btn {
	padding: 12px 24px;
	border-radius: 1px;
	border-width: 4px;
}